<section class="blog spad">
  <div class="container">
    <div class="row">
      {{!-- Main --}}

      <div class="col-lg-8 col-md-7">
        <div class="row">
          {{#each news}}
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="blog__item">
              <div class="blog__item__pic">
                <a href="/news/{{this.slug}}">
                  <img class="img-fluid" src="/public/img/{{this.image}}" class="img-fluid" alt="{{this.name}}">
                </a>
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa-regular fa-calendar"></i>{{this.createdAt}} </li>
                  <li><i class="fa-regular fa-comment"></i></i>5</li>
                </ul>
                <h5><a href="/news/{{this.slug}}">{{this.name}}</a></h5>
                <p>{{this.description}}</p>
                <div class="text-center">
                  <a href="/news/{{this.slug}}" class="text-center blog__btn">Đọc Thêm</a>
                </div>
              </div>
            </div>
          </div>
          {{/each }}
        </div>
        {{!-- 2 --}}
        <div class="col-lg-12">
          <div class="row">
            {{#each news}}
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="blog__item">
                <div class="blog__item__pic">
                  <a href="/news/{{this.slug}}">
                    <img class="img-fluid" src="/public/img/{{this.image}}" class="img-fluid" alt="{{this.name}}">
                  </a>
                </div>
                <div class="blog__item__text">
                  <ul>
                    <li><i class="fa-regular fa-calendar"></i> May 4,2019</li>
                    <li><i class="fa-regular fa-comment"></i></i>5</li>
                  </ul>
                  <h5><a href="/news/{{this.slug}}">{{this.name}}</a></h5>
                  {{!-- <p>{{this.description}}</p> --}}
                  <a href="/news/{{this.slug}}" class="text-center blog__btn">Đọc Thêm</a>
                </div>
              </div>
            </div>
            {{/each }}
          </div>
        </div>
        <div class="col-lg-12">
          <div class="product__pagination blog__pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>

      </div>

      {{!-- Side Bar --}}
      <div class="col-lg-4 col-md-5">
        <div class="blog__sidebar">
          {{!-- Gần đây --}}
          <div class="blog__sidebar__item">
            <h4>Tin Gần Đây</h4>
            <div class="blog__sidebar__recent">
              {{#each news}}
              <a href="/news/{{this.slug}}" class="blog__sidebar__recent__item">
                <div class="blog__sidebar__recent__item__pic">
                  <img src="/public/img/{{this.image}}" class="img-fluid" alt="{{this.name}}">
                </div>
                <div class="blog__sidebar__recent__item__text">
                  <h6>{{this.name}}</h6>
                  <span> May 4,2019</span>
                </div>
              </a>
              {{/each }}
            </div>
          </div>
          {{!-- Search --}}
          <div class="blog__sidebar__search">
            <form method="GET" action="news/search">
              <input name="name" type="search" placeholder="Tìm kiếm...">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
          {{!-- Danh Mục --}}
          <div class="blog__sidebar__item">
            <h4>Danh Mục</h4>
            <ul>
              {{#each category}}
                <li><a href="#">{{category.name}}</a></li>
                
              {{/each }}
            </ul>
          </div>
          {{!-- Mới --}}
          <div class="blog__sidebar__item">
            <h4>Tin mới</h4>
            <div class="blog__sidebar__new">
              {{#each news}}
              <a href="/news/{{this.slug}}" class="blog__sidebar__new__item">
                <div class="blog__sidebar__new__item__pic">
                  <img src="/public/img/{{this.image}}" class="img-fluid" alt="{{this.name}}">
                </div>
                <div class="blog__sidebar__new__item__text">
                  <h6>{{this.name}}</h6>
                </div>
              </a>
              {{/each }}
            </div>
          </div>
          {{!-- Thẻ --}}
          <div class="blog__sidebar__item">
            <h4>Search By</h4>
            <div class="blog__sidebar__item__tags">
              <a href="#">Apple</a>
              <a href="#">Beauty</a>
              <a href="#">Vegetables</a>
              <a href="#">Fruit</a>
              <a href="#">Healthy Food</a>
              <a href="#">Lifestyle</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>