<section class="p-5">
  <div class=" mx-auto container-fluid shadow-sm rounded bg-white">
    {{!-- --}}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom ">
      <h2 class="mr-md-auto font-weight-bold">Bài Viết Của Tôi</h2>
      <a class="my-4 btn btn-warning" href="/news/create"> <i class="fa-solid fa-pen-to-square"></i> Viết Bài</a>
      <a class="mx-4 btn btn-primary" href="/me/trash/news"> <i class="fa-solid fa-trash"></i> Thùng rác</a>
    </div>
    <br>
    {{!-- --}}
    <div class="table responsive" id="no-more-tables">
      <table class="table bg-white">
        <thead class="bg-dark text-light ">
          <tr class="text-center">
            <th>STT</th>
            <th>Tiêu Đề</th>
            <th>Nội Dung Bài Viết</th>
            <th>Thời Gian Đăng</th>
            <th width="12%">Hành Động</th>
          </tr>
        </thead>
        <tbody>
          {{#each news}}
          <tr>
            <th class="text-center" scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.createdAt}}</td>
            <td class="text-center">
              <a href="/news/{{this._id}}/edit" class="btn btn-success"><i class="fa-solid fa-rotate"></i></a>
              <a type="" class="btn btn-danger text-white" data-toggle="modal" data-id="{{this._id}}"
                data-target="#delete-news-modal"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          {{else}}
          <tr class="text-center">
            <td >Bạn chưa đăng bài viết nào.
              <a href="/news/create">Đăng bài viết</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>


{{!-- Confirm --}}
<div class="modal" tabindex="-1" role="dialog" id="delete-news-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa bài viết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa không?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-news" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


{{!-- delete --}}
<form method="POST" name="delete-form"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var newsId
    var deleteForm = document.forms['delete-form']
    var btnDeleteNews = document.getElementById('btn-delete-news')
    $('#delete-news-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      newsId = button.data('id')
    })
    btnDeleteNews.onclick = function () {
      deleteForm.action = '/news/' + newsId + '?_method=DELETE'
      deleteForm.submit()
    }
  })
</script>